.header
  .header__contents
    .header__contents__content
      .header__contents__content__logo
        =link_to root_path do
          = image_tag "logo.png", alt: "ロゴ"
      .header__contents__content__search-box
        %form
          %input.header__contents__content__search-box__input{:name => "", :prlaceholder => "キーワ-ドから探す",:type => "", :value => ""}
          %button{type: "submit"}
            .header__contents__content__search-box__icon
              =link_to "#" do
                = image_tag "icon-search 1.png", alt: "ロゴ"
    .header__contents__nav-list
      
      %ul.header__contents__nav-list__left-list
      
        %li.header__contents__nav-list__left-list__category
          =link_to "#" do
            カテゴリー
        %li.header__contents__nav-list__left-list__brand
          =link_to "#" do
            ブランド
      %ul.header__contents__nav-list__right-list
        %li.header__contents__nav-list__right-list__topic
          =link_to "#" do
            お知らせ
        %li.header__contents__nav-list__right-list__necessary
          =link_to "#" do
            やることリスト
        %li.header__contents__nav-list__right-list__mypage
          =link_to destroy_user_session_path, method: "DELETE" do
            ログアウト

        


%nav.nav-detail
  %ul.nav-detail__ul
    .nav-detail__ul__li
      %li
        .nav-detail__ul__li__link
          =link_to "#" do
            FURIMA
    .nav-detail__ul__li
      %li
        .nav-detail__ul__li__link
          =link_to "#" do
            = icon('fas', 'angle-right', class: 'icon')
    .nav-detail__ul__li
      %li
        .nav-detail__ul__li__link
          =link_to "#" do
            マイページ



.main-contents
  .main-contents__side-container
    %nav.main-contents__side-container__mypage-nav
      %ul.main-contents__side-container__mypage-nav__ul
        %li.main-contents__side-container__mypage-nav__ul__li
          =link_to "#", class:"main-contents__side-container__mypage-nav__ul__li__a" do
            マイページ
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to "#", class:"main-contents__side-container__mypage-nav__ul__li__a" do
            やることリスト
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to favorites_users_path,  class:"main-contents__side-container__mypage-nav__ul__li__a first" do
            お気に入り一覧
            = icon('fas', 'chevron-right', class: 'mypage-icon-first')
        %li
          =link_to "#", class:"main-contents__side-container__mypage-nav__ul__li__a" do
            出品する
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to "#", class:"main-contents__side-container__mypage-nav__ul__li__a" do
            下書き一覧
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to "#", class:"main-contents__side-container__mypage-nav__ul__li__a" do
            出品した商品ー出品中
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to "#", class:"main-contents__side-container__mypage-nav__ul__li__a" do
            出品した商品ー取引中
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to "#", class:"main-contents__side-container__mypage-nav__ul__li__a" do
            出品した商品ー売却済み
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to "#", class:"main-contents__side-container__mypage-nav__ul__li__a" do
            購入した商品ー取引中
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to "#", class:"main-contents__side-container__mypage-nav__ul__li__a" do
            購入した商品ー過去の取引
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to "#", class:"main-contents__side-container__mypage-nav__ul__li__a" do
            ニュース一覧
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to "#", class:"main-contents__side-container__mypage-nav__ul__li__a" do
            評価一覧
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to "#", class:"main-contents__side-container__mypage-nav__ul__li__a" do
            ガイド
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to "#", class:"main-contents__side-container__mypage-nav__ul__li__a" do
            お問い合わせ
            = icon('fas', 'chevron-right', class: 'mypage-icon')

      %h3.main-contents__side-container__mypage-nav__h3
        フリペイ
      %ul.main-contents__side-container__mypage-nav__merpay
        %li.main-contents__side-container__mypage-nav__merpay__li
          =link_to "#", class: "main-contents__side-container__mypage-nav__merpay__li__a" do
            残高・振込申請
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li.main-contents__side-container__mypage-nav__merpay__li
          =link_to "#", class: "main-contents__side-container__mypage-nav__merpay__li__a" do
            ポイント
            = icon('fas', 'chevron-right', class: 'mypage-icon')

      %h3.main-contents__side-container__mypage-nav__h3
        設定
      %ul.main-contents__side-container__mypage-nav__config
        %li.main-contents__side-container__mypage-nav__config__li
          =link_to "#", class: "main-contents__side-container__mypage-nav__config__li__a" do
            プロフィール
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to "#", class: "main-contents__side-container__mypage-nav__config__li__a" do
            発送元・お届け先住所
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to new_card_path, class: "main-contents__side-container__mypage-nav__config__li__a" do
            クレジットカード情報確認/削除
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to "#", class: "main-contents__side-container__mypage-nav__config__li__a" do
            メール/パスワード
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to "#", class: "main-contents__side-container__mypage-nav__config__li__a" do
            本人情報
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to "#", class: "main-contents__side-container__mypage-nav__config__li__a" do
            電話番号の確認
            = icon('fas', 'chevron-right', class: 'mypage-icon')
        %li
          =link_to edit_home_path(current_user.id), class: "main-contents__side-container__mypage-nav__config__li__a" do
            ログアウト
            = icon('fas', 'chevron-right', class: 'mypage-icon') #リンクのパス追記（浅野）

  .main-contents__container
    %section.main-contents__container__tab-favo
      %h2.main-contents__container__tab-fav__h2
        お気に入り一覧
      %ul.main-contents__container__tab-fav__h2__ul
        - current_user.favorite_items.each do |item|
          %li.main-contents__container__tab-fav__h2__ul__li
            =link_to item_path(item), class: "main-contents__container__tab-fav__h2__ul__li__a" do
              %figure.main-contents__container__tab-fav__h2__ul__li__a__figure
                =image_tag(item.images[0].image.url,class:"main-contents__container__tab-fav__h2__ul__li__a__figure__img")
              .main-contents__container__tab-fav__h2__ul__li__info
                .main-contents__container__tab-fav__h2__ul__li__title
                  = item.name
                .main-contents__container__tab-fav__h2__ul__li__title
                  = item.price 
                  円
              = icon('fas', 'chevron-right', class: 'fav-icon')






%aside.footer-banner
  .footer-banner__inner
    %h2
      だれでもかんたん、人生を変えるフリマアプリ
    %p
      今すぐ無料ダウンロード！
    .footer-banner__inner__link
      =link_to "#" do
        = image_tag "app.svg", alt: "ロゴ"
      =link_to "#" do
        = image_tag "goo.svg", alt: "ロゴ"
.footer-main
  %ul.footer-main__toc
    %li.footer-main__toc__content
      %h2
        FURIMAについて
      %ul
        %li
          =link_to "#" do
            会社概要（運営会社）
        %li
          =link_to "#" do
            プライバシーポリシー
        %li
          =link_to "#" do
            FURIMA利用規約
        %li
          =link_to "#" do
            ポイントに関する特約
    %li.footer-main__toc__content
      %h2
        FURIMAを見る
      %ul
        %li
          =link_to "#" do
            カテゴリー一覧
        %li
          =link_to "#" do
            ブランド一覧
    %li.footer-main__toc__content
      %h2
        ヘルプ＆ガイド
      %ul
        %li
          =link_to "#" do
            FURIMAガイド
        %li
          =link_to "#" do
            FURIMAロゴ利用ガイドライン
        %li
          =link_to "#" do
            お知らせ
  .footer-main__logo
    =link_to "#" do
      = image_tag "logo-white.png", alt: "ロゴ"
  %p
    © FURIMA
=link_to new_item_path do
  .listing-btn
    %span 出品する
    = image_tag "syuppin.svg", alt: "ロゴ"