.login-header
  .signin-header__contents
    .signin-header__contents__content
      %h1.signin-header__contents__content__logo
        =link_to root_path do
          = image_tag "logo.png", alt: "ロゴ"
.log
  .login_form
    .signin_form
      .login_no_account
        = link_to "メールアドレスで登録する", new_user_registration_path, class: "sign_up_btn"
      .login_form_inner
        = link_to "#", class: "facebook_btn" do
          = icon('fab', 'facebook-square',  class: "facebook_btn__icon")
          %span<>
            Facebookでログイン
        = link_to "#", class: "google_btn" do
          = icon('fab', 'google',  class: "google_btn__icon")
          %span<>
            Googleでログイン
        = link_to "#", class: "twitter_btn" do
          = icon('fab', 'twitter',  class: "twitter_btn__icon")
          %span<>
            Twitterでログイン
    
= render partial: 'new'