.wrapper-sale
  .content-sale
    .content-sale__header
      =link_to "#" do
        = image_tag "logo.png", alt: "ロゴ"
    .content-sale__main
      .content-sale__main__box
        = render partial: 'form' 
    .content-sale__footer
      .content-sale__footer__top
        %ul
          %li
            = link_to "#" do
              プライバシーポリシー
          %li
            = link_to "#" do
              フリマ利用規約
          %li
            = link_to "#" do
              特定商取引に関する表記
      = link_to "#" do
        = image_tag "logo.png", alt: "ロゴ"
      %p
        © Frima, xxx.