.wrapper-sale
  .content-sale
    .content-sale__header
      =link_to root_path do
        = image_tag "logo.png", alt: "ロゴ"
    .content-sale__main

      .content-sale__main__box 
        - @item.images.each do |image|
          .preview-box
            .upper-box
              = image_tag image.image_url width: "112", height: "112", alt: "preview"
            .label-content

                
        
         

      .content-sale__main__box
        = form_with model:@item, local:true do |f|
          - if @item.errors.any?
            .error_explanation
              .error_explanation__inner
                %h2.error_explanation__inner__h2
                  = pluralize(@item.errors.count, "個")
                  のエラーが発生しています。
                
                %ul
                  - @item.errors.full_messages.each do |message|
                    %li 
                      = message

          = f.hidden_field :trading_status, value: "販売中"
          = f.hidden_field :user_id, value: current_user.id
          .upload-box
            .upload-box__head
              %h3.upload-box__head__h3 出品画像
              %span.upload-box__head__span 必須
            %p.discription 最大10枚までアップロードできます
            
            .post__drop__box__container
              .prev-content

                //JSで挿入したhtmlと同じ形each文でのプレビュー表示
                - @item.images.each do |image|
                  .preview-box
                    .upper-box
                      = image_tag image.image.url, width: "112", height: "112", alt: "preview"
                    .lower-box
                      .delete-box
                        .delete-btn
                          %span 削除
              .label-content
                = f.label :"images_attributes_#{@item.images.length}_image", class: "label-box", id: "label-box--#{@item.images.length}" do
                  %pre.label-box__text-visible クリックしてファイルをアップロード
              .hidden-content
                = f.fields_for :images do |i|
                  = i.file_field :image, class: "hidden-field"
                  = i.check_box:_destroy, class: "hidden-checkbox"
                - @item.images.length.upto(9) do |i|
                  %input{name: "item[images_attributes][#{i}][image]", id: "item_images_attributes_#{i}_image", class:"hidden-field", type:"file"}

          %hr.content-sale--hr
          .content-sale__main__box__form
            .content-sale__main__box__form__item
              .content-sale__main__box__form__inner__title
                %label.content-sale__main__box__form__inner__title__label
                  商品名
                %span.content-sale__main__box__form__inner__title__span
                  必須
              .content-sale__main__box__form__item__box
                .content-sale__main__box__form__item__box__input
                  = f.text_field :name, placeholder:"商品名（必須 40文字まで)",class: "input"

            .content-sale__main__box__form__intro
              .content-sale__main__box__form__inner__title
                %label.content-sale__main__box__form__inner__title__label
                  商品の説明
                %span.content-sale__main__box__form__inner__title__span
                  必須
              .content-sale__main__box__form__inner__intro
                = f.text_area :description, class: "items-new-form-area__default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "7"
                .content-sale__main__box__form__inner__intro__bottom
                  %span 0/1000

          %hr.content-sale--hr
          .content-sale__main__box__form
            %p
              商品の詳細
            .item-dteil
              .item-detail__inner
                .item-detail__inner__name
                  %label
                    カテゴリー
                  %span
                    必須
                .item-detail__inner__box
                  .item-detail__inner__box__select
                    = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {prompt: '---'}, {id: 'parent_category'}
                    .exhibitionPage__main__contents__detail__category__choose
                    -# ↓元々書いてあったコードをコメントアウトしました。確認取れ次第削除する
                    -# = f.collection_select :category_id, Category.all.limit(13), :id, :name,{prompt:"---"},{class:"", id: ""}
            .item-detail
              .item-detail__inner
                .item-detail__inner__name
                  %label.item-detail__inner__name__down
                    ブランド
                  %span.optional
                    任意
                .item-detail__inner__brand
                  .item-detail__inner__brand__inner
                    = f.collection_select :brand_id, Brand.all.limit(13), :id, :name,{prompt:"---"},{class:"", id: ""}
            .item-detail
              .item-detail__inner
                .item-detail__inner__name    
                  %label.item-detail__inner__name__down
                    商品の状態
                  %span.require
                    必須
                .item-detail__inner__box
                  .item-detail__inner__box__select
                    = f.select :status, Item.statuses.keys,{prompt:"---"}

          %hr.content-sale--hr
          .content-sale__main__box__form
            %p
              配送料について
              = link_to "#" do
                = icon('far', 'question-circle', class: 'question')
            .item-dteil
              .item-detail__inner
                .item-detail__inner__name
                  %label
                    配送料の負担
                  %span
                    必須
                .item-detail__inner__box
                  .item-detail__inner__box__select
                    = f.select :delivery_burden, Item.delivery_burdens.keys,{prompt:"---"}
            .item-dteil
              .item-detail__inner
                .item-detail__inner__name
                  %label.item-detail__inner__name__down
                    配送元の地域
                  %span.require
                    必須
                .item-detail__inner__box
                  .item-detail__inner__box__select
                    = f.select :delivery_area, Address.prefectures.keys,{prompt:"---"}

            .item-dteil
              .item-detail__inner
                .item-detail__inner__name
                  %label.item-detail__inner__name__down
                    発送までの日数
                  %span.require
                    必須
                .item-detail__inner__box
                  .item-detail__inner__box__select
                    = f.select :delivery_days, Item.delivery_days.keys,{prompt:"---"}

          %hr.content-sale--hr
          .content-sale__main__box__form
            %p
              価格（¥300〜9,999,999）
              = link_to "#" do
                = icon('far', 'question-circle', class: 'question')
            .price
              .price__box
                .price__box__name
                  .price__box__name__inner
                    %label
                      販売価格
                    %span
                      必須
                %span
                  ¥
                .price__box__input
                  .price__box__input__inner
                    = f.number_field :price, min:300, max:9999999, class: "input", id: "sell-price", placeholder: "例）300", value: ""
              .price__box__fee
                .price__box__fee__inner
                  .price__box__fee__inner__title
                    販売手数料（１０％）
                %span
                  #furima_fee
            %hr.content-sale--hr      
            .price__box
              .price__box__revenue
                販売利益
              %span
                #revenue
          .btn
            =f.submit "出品する",class:"btn__listing"
            =link_to "もどる",items_path
          .warning
            %p
              禁止されている
            = link_to "#" do
              行為
            %p
              および
            = link_to "#" do
              出品物
            %p
              を必ずご確認ください。
            = link_to "#" do
              偽ブランド品
            %p
              や
            = link_to "#" do
              盗品物
            %p
              などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
            = link_to "#" do
              加盟店規約
            %p
              に同意したことになります。



    .content-sale__footer
      .content-sale__footer__top
        %ul
          %li
            = link_to "#" do
              プライバシーポリシー
          %li
            = link_to "#" do
              フリマ利用規約
          %li
            = link_to "#" do
              特定商取引に関する表記
      = link_to "#" do
        = image_tag "logo.png", alt: "ロゴ"
      %p
        © Frima, xxx.

-# = form_for [@item] do |f|
-#   .item__header
-#     .item__header--image
-#       = image_tag "logo.png",height:"50px",width:"50px;"
-#     .item__header--content
-#       = link_to"merucari",root_path,method: :get,class:"btn"
-#   .item__register
-#     .item__register--header
-#       商品の情報を入力
-#     .item__register--image
-#       .image__contents
-#         .image__contents--title.side
-#           出品画像
-#         .image__contents--btn.side
-#           必須
-#         .image__contents--description
-#           最大10枚までアップロードできます
-#         .image__contents--content#image_field
-#           = f.fields_for :image do |i|
-#             = i.label :image do
-#               = i.file_field :image
          
       
-#     .item__register--name
-#       .name__contents
-#         .name__contents--title.side
-#           = f.label "商品名"
-#         .name__contents--btn.side
-#           必須
-#         .name__contents--content
-#           = f.text_field :name,class:"name",placeholder:"商品名（必須40文字まで）"
       
-#     .item__register--description
-#       .description__contents
-#         .description__contents--title.side
-#           = f.label "商品の説明"
-#         .description__contents--btn.side
-#           必須
-#         .description__contents--content
         
-#     .item__register--detail
-#       .detail__title.side
-#         商品の詳細
-#       .detail__contents.side
-#         .detail__contents--type.side
-#           カテゴリー
-#         .detail__contents--btn.side
-#           必須
-#         .detail__contents--content#exist
-#           -# = f.collection_select :category_id, @parents, :id, :name,{prompt:"---"},id:"display"
-#         .detail__contents--content#append
-#         .detail__contents--content#append_two
       
-#         .detail__contents--type#hidden_size
       
-#         .detail__contents--type.side.hidden_bland.hidden
-#           ブランド
-#         .detail__contents--btn.bland-btn.side.hidden_bland.hidden
-#           任意
-#         .detail__contents--content.hidden_bland.hidden
-#           = f.text_field :brand
-#         .detail__contents--type.side
-#           商品の状態
-#         .detail__contents--btn.side
-#           必須
-#         .detail__contents--content
         
        
-#     .item__register--delivery
-#       .delivery__title.side
-#         配送について
-#       .delivery__contents.side
-#         .delivery__contents--type.side
-#           配送料の負担
-#         .delivery__contents--btn.side
-#           必須
-#         .delivery__contents--content
        
-#         .delivery__contents--content.delivery_way
      
-#         .delivery__contents--type.side
-#           発送元の地域
-#         .delivery__contents--btn.side
-#           必須
-#         .delivery__contents--content
          
        
-#         .delivery__contents--type.side
-#           発送までの日数
-#         .delivery__contents--btn.side
-#           必須
-#         .delivery__contents--content
         
        
-#     .item__register--sale
-#       .sale__title.side
-#         販売価格(300~9,999,999)
-#       .sale__contents.side
-#         .sale__contents--cost.side.side_center
-#           = f.label "価格"
-#           .sale__contents--btn.side
-#             必須
-#         .sale__contents--content.side_center.side_cost
-#           ¥
-#           = f.number_field :price,placeholder:"例)300円",id: "sum"
       
-#         .border
-#           .sale__contents--fee.side_center
-#             販売手数料(10%)
-#           .sale__contents--content.side_center.side_fee
-#             ー
-#         .sale__contents--benefit.side_center
-#           販売利益
-#         .sale__contents--content.side_center.side_benefit
-#           ー
-#     .item__register--attention
-#       .attention__contents
-#         禁止されている出品、行為を必ずご確認ください。<br>
-#         またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの出品は犯罪であり処罰される可能性があります。<br>
-#         また、出品をもちまして加盟店規約に同意したことになります。
-#     .item__register--exhibit
-#       .exhibit__btn
-#         = f.submit "変更する",class: "btn",id:"formbtn"
-#     .item__register--return
-#       .return__btn
-#         = link_to"もどる",root_path,method: :get,class:"btn"
-#   .item__guide
-#     .item__guide--type
-#       プライバシーポリシー
-#     .item__guide--type
-#       メルカリ利用規約
-#     .item__guide--type
-#       特定商取引に関する表記
-#   .item__footer
-#     .item__footer--image
-#       = link_to image_tag('/images/logo.png',height:"50px",width:"50px"),"/"
-#     .item__footer--content
-#       © 2019 Mercari 