.wrapper
  .content
    .content__header
      =link_to "#" do
        = image_tag "logo.png", alt: "ロゴ"
    .content__main
      .content__main__box
        %form
          .content__main__box__form
            .content__main__box__form__inner
              .content__main__box__form__inner__title
                %label
                  出品画像
                %span
                  必須
              %p
                最大10枚までアップデートできます。
              .content__main__box__form__inner__input
                .content__main__box__form__inner__input__inner
                  .content__main__box__form__inner__input__inner__icon
                    = icon('fas', 'camera', class: 'icon')
                    %p
                      ドラッグアンドドロップ
                      %br
                      またはクリックしてファイルをアップロード
          %hr
          .content__main__box__form
            .content__main__box__form__item
              .content__main__box__form__inner__title
                %label
                  商品名
                %span
                  必須
              .content__main__box__form__item__box
                .content__main__box__form__item__box__input
                  %input{type: "text", name: "name", value: "", placeholder: "40文字まで"}

            .content__main__box__form__intro
              .content__main__box__form__inner__title
                %label
                  商品の説明
                %span
                  必須
              .content__main__box__form__inner__intro
                =text_area_tag :hoge, "", class:"", rows: 7,  placeholder: "商品の説明（必須 1,000文字以内）"
                .content__main__box__form__inner__intro__bottom
                  %span 0/1000

          %hr
          .content__main__box__form
            %p
              商品の詳細
            .item-dteil
              .item-detail__inner
                .item-detail__inner__name
                  %label
                    カテゴリー
                  %span
                    必須
                .item-detail__inner__box
                  .item-detail__inner__box__select
                    %select
                      %option{value: "category"} 選択してください
                      %option{value: "レディース"} レディース
                      %option{value: "メンズ"} メンズ
                      %option{value: "ベビー・キッズ"} ベビー・キッズ
                      %option{value: "インテリア・住まい・小物"} インテリア・住まい・小物
                      %option{value: "本・音楽・ゲーム"} 本・音楽・ゲーム
                      %option{value: "おもちゃ・ホビー・グッズ"} おもちゃ・ホビー・グッズ
            .item-detail
              .item-detail__inner
                .item-detail__inner__name
                  %label.item-detail__inner__name__down
                    ブランド
                  %span.optional
                    任意
                .item-detail__inner__brand
                  .item-detail__inner__brand__inner
                    %input{type: "text", name: "brandname", value: "", placeholder: "例）コーチ"}
            .item-detail
              .item-detail__inner
                .item-detail__inner__name    
                  %label.item-detail__inner__name__down
                    商品の状態
                  %span.require
                    必須
                .item-detail__inner__box
                  .item-detail__inner__box__select
                    %select
                      %option{value: "itemcondition"} 選択してください
                      %option{value: "新品、未使用"} 新品、未使用
                      %option{value: "目立った傷や汚れなし"} 目立った傷や汚れなし
                      %option{value: "目立った傷や汚れあり"} 目立った傷や汚れあり
                      %option{value: "全体的に状態が悪い"} 全体的に状態が悪い         
          %hr
          .content__main__box__form
            %p
              配送料について
              = link_to "#" do
                = icon('far', 'question-circle', class: 'question')
            .item-dteil
              .item-detail__inner
                .item-detail__inner__name
                  %label
                    配送料の負担
                  %span
                    必須
                .item-detail__inner__box
                  .item-detail__inner__box__select
                    %select
                      %option{value: "burden"} 選択してください
                      %option{value: "送料込み（出品者負担）"} 送料込み（出品者負担）
                      %option{value: "着払い（購入者負担）"} 着払い（購入者負担）
            .item-dteil
              .item-detail__inner
                .item-detail__inner__name
                  %label.item-detail__inner__name__down
                    配送元の地域
                  %span.require
                    必須
                .item-detail__inner__box
                  .item-detail__inner__box__select
                    %select
                      %option{value: "area"} 選択してください
                      %option{value: "北海道"} 北海道
                      %option{value: "青森県"} 青森県
                      %option{value: "宮城県"} 宮城県
                      %option{value: "岩手県"} 岩手県
                      %option{value: "山形県"} 山形県
                      %option{value: "福島県"} 福島県
                      %option{value: "茨城県"} 茨城県
                      %option{value: "群馬県"} 群馬県
                      %option{value: "埼玉県"} 埼玉県
                      %option{value: "千葉県"} 千葉県
                      %option{value: "東京都"} 東京都
                      %option{value: "神奈川県"} 神奈川県
                      %option{value: "岐阜県"} 岐阜県
            .item-dteil
              .item-detail__inner
                .item-detail__inner__name
                  %label.item-detail__inner__name__down
                    発送までの日数
                  %span.require
                    必須
                .item-detail__inner__box
                  .item-detail__inner__box__select
                    %select
                      %option{value: "days"} 選択してください
                      %option{value: "1~2日で発送"} 1~2日で発送
                      %option{value: "2~3日で発送"} 2~3日で発送
                      %option{value: "4~7日で発送"} 4~7日で発送
          %hr
          .content__main__box__form
            %p
              価格（¥300〜9,999,999）
              = link_to "#" do
                = icon('far', 'question-circle', class: 'question')
            .price
              .price__box
                .price__box__name
                  .price__box__name__inner
                    %label
                      販売価格
                    %span
                      必須
                %span
                  ¥
                .price__box__input
                  .price__box__input__inner
                    %input{type: "number", name: "price", value: "", placeholder: "0"}
              .price__box__fee
                .price__box__fee__inner
                  .price__box__fee__inner__title
                    販売手数料（１０％）
                %span
                  —
            %hr      
            .price__box
              .price__box__revenue
                販売利益
              %span
                —
          .btn
            %button.btn__listing
              出品する
            %button.btn__draft
              下書きに保存
            = link_to "#" do
              もどる
          .warning
            %p
              禁止されている
            = link_to "#" do
              行為
            %p
              および
            = link_to "#" do
              出品物
            %p
              を必ずご確認ください。
            = link_to "#" do
              偽ブランド品
            %p
              や
            = link_to "#" do
              盗品物
            %p
              などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
            = link_to "#" do
              加盟店規約
            %p
              に同意したことになります。
    .content__footer
      .content__footer__top
        %ul
          %li
            = link_to "#" do
              プライバシーポリシー
          %li
            = link_to "#" do
              メルカリ利用規約
          %li
            = link_to "#" do
              特定商取引に関する表記
      = link_to "#" do
        = image_tag "logo.png", alt: "ロゴ"
      %p
        © Frima, xxx.