.header-detail
  .header-detail__contents
    .header-detail__contents__content
      %h1.header-detail__contents__content__logo
        =link_to root_path do
          = image_tag "logo.png", alt: "ロゴ"
      .header-detail__contents__content__search-box
        %form
          %input.header-detail__contents__content__search-box__input{name: "", placeholder: "キーワードから探す", type:"", value: ""}/
          %button{type: "submit"}
            .header-detail__contents__content__search-box__icon
              = image_tag "icon-search 1.png", alt: "ロゴ"
    .header-detail__contents__nav-list
      .header-detail__contents__nav-list__left
        %ul
          .header-detail__contents__nav-list__left__category
            %li
              =link_to "#" do
                カテゴリ
          .header-detail__contents__nav-list__left__brand
            %li
              =link_to "#" do
                ブランド
      .header-detail__contents__nav-list__right
        %ul
          .header-detail__contents__nav-list__right__login
            %li
              =link_to "#" do
                ログイン
          .header-detail__contents__nav-list__right__new
            %li
              =link_to "#" do
                新規登録
%nav.nav-detail
  %ul.nav-detail__ul
    .nav-detail__ul__li
      %li
        .nav-detail__ul__li__link
          =link_to "#" do
            FURIMA
    .nav-detail__ul__li
      %li
        .nav-detail__ul__li__link
          =link_to "#" do
            = icon('fas', 'angle-right', class: 'icon')
    .nav-detail__ul__li
      %li
        .nav-detail__ul__li__link
          =link_to "#" do
            マイページ
    .nav-detail__ul__li
      %li
        .nav-detail__ul__li__link
          =link_to "#" do
            = icon('fas', 'angle-right', class: 'icon')
    .nav-detail__ul__li
      %li
        .nav-detail__ul__li__link
          =link_to "#" do
            カード情報

.card-info
  .card-info__main
    .card-info__main__box
      %h2.card-info__main__box__label 登録クレジットカード情報
      %br
      = "**** **** **** " + @default_card_information.last4
      %br
      - exp_month = @default_card_information.exp_month.to_s
      - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
      = exp_month + " / " + exp_year
      = form_tag(delete_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
        %input{ type: "hidden", name: "card_id", value: ""}
        %button.card-info__main__box__submit 削除する